<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="../css/default.css"  type="text/css" />
<link rel="stylesheet" href="../css/webkitBase.css"  type="text/css" />
<link rel="stylesheet" href="../css/contextmenu.css" type="text/css" />
<link rel="stylesheet" href="../css/scrollstyle.css"  type="text/css" />
<link rel="stylesheet" href="smsmms.css" type="text/css" />
<link rel="stylesheet" href="speech.css" type="text/css" />
<!-- _INTL -->
<!--	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48629545-1', 'vivo.com.cn');
	  ga('send', 'pageview', {'dimension1' : 'Waixiao'});
	</script>-->
</head>
<body>
	<!-- 左侧竖直栏 -->
    <div class="drawer">
        <!-- _LOCN --><div id="collection" class="category"><div class="categoryArrow"></div><div class=" drawericonbase DrawerIconsmsCollection"></div>{{smsmms_collection_lang}}<img src="../app/images/new.gif" /></div>	
        <div id="sms" class="category unHover"><div class="categoryArrow"></div><div class="drawericonbase DrawerIconsmsMms"></div>
			<button id="sortButton" class="btnThreadSort" disabled>{{smsmms_sortbtn_lang}}</button>{{smsmms_phone_info}}</div>
		<div class="drawerContentThreadTop">
			<label><input id="allThreads" type="checkbox">{{smsmms_alltreads_check_lang}}</label>
			<button id="delThreads" class="delIcon" disabled>{{smsmms_delthreads_del_lang}}</button>
			<button id="exportThreads" class="exportIcon" disabled>{{smsmms_exportthreads_lang}}</button>
		</div>
		<ul id="threads" class="list">

<!-- 			<li  ><input type="checkbox"><div class="from"></div><span class="DrawerIconNotRead"></span></li>
			<li  ><input type="checkbox"><div class="from"></div><span class="DrawerIconNotRead"></span></li>
			<li  ><input type="checkbox"><div class="from"></div><span class="DrawerIconNotRead"></span></li> -->
		</ul>
		
        <div id="fav" class="category"><div class="categoryArrow"></div><div class="drawericonbase DrawerIconfav"></div>
			{{smsmms_fav_lang}}(<span id="favNum">0</span>)</div>
		<div id="sim" class="category"><div class="categoryArrow"></div><div class="drawericonbase DrawerIconSimIcon"></div>
			{{smsmms_simnum_lang}}(<span id="simNum">0</span>)</div>
<!-- 		<ul class="list">
			<li id="drawer_SIM1"><div  class="from SimIcon1">SIM1信息</div><span>(10)</span></li>
			<li id="drawer_SIM2"><div class="from SimIcon2">SIM2信息</div><span>(10)</span></li>
			<li id="drawer_SIM" style="display:none"><div class="from SimIcon">SIM信息</div><span>(10)</span></li>
		</ul> -->
    </div>
	<div class="menuBar">
			<div id="newSms" onclick="topMenuBtnHandler(this)" class="menu-nav"><div class="TopMenuIconBase TopMenuIconNew"></div>{{smsmms_newsms_lang}}</div>
			<div class="menu-nav-split"></div>
			<div id="delSms" onclick="topMenuBtnHandler(this)" class="menu-nav disable"><div class="TopMenuIconBase TopMenuIconDel"></div>{{smsmms_delsms_lang}}</div>
			<div class="menu-nav-split"></div>
			<div id="InAndOutSms" class="menu-nav"><div class="TopMenuIconBase TopMenuIconInAndOut"></div>{{smsmms_InAndOutSms_lang}}</div>
			<!-- _LOCN --><div class="menu-nav-split"></div>
			<!-- _LOCN --><div id="backupSms" onclick="topMenuBtnHandler(this)" class="menu-nav disable"><div class="TopMenuIconBase TopMenuIconUpload"></div>{{smsmms_backupsms_lang}}</div>
			<div class="menu-nav-split"></div>
			<div id="reflash" onclick="topMenuBtnHandler(this)" class="menu-nav"><div class="TopMenuIconBase TopMenuIconReflash"></div>{{smsmms_refresh_lang}}</div>
			<div class="menu-search"><input id="smsSearch" onsearch="searchSms(this)" class="inputText" type="search" placeholder="{{sms_search_lang}}"></div>
	</div>

	<div id="smscontent"  class="content">
		<div class="contentTop">
			<input id="allSms" type="checkbox">
			<label class="all">{{smsmms_allsms_check_lang}}</label>
			<label class="contact"></label>
			<label class="phoneNumber"></label>
			<label class="attribution"></label>
		</div>
		<ul id="mmsSmscontent" class="showcontent">
		</ul>
		<div class="contentButtom">
			<textarea id="messageBody"  placeholder="{{smsmms_messagebody_smsreply_lang}}"></textarea>
			<div>
				<label class="counter"><span id="charNum">0</span>{{smsmms_couter_char_lang}}<span id="smsNum">0</span>{{smsmms_counter_smsbody_lang}}</label>
				<button id="btn_SIM2" disabled="disabled" data-slot="1"><span class="arial">SIM2</span>{{smsmms_btnsend_sim1_lang}}</button>
				<button id="btn_SIM1" disabled="disabled" data-slot="0"><span class="arial">SIM1</span>{{smsmms_btnsend_sim2_lang}}</button>
			</div>
		</div>
		<div class="noSmscontent"><div style="color:#DEDEDE;font-size:14px;font-weight:normal;">{{smsmms_nosmscontent_lang}}</div></div>
		<div class="encrypted">
			<div class="encryptedbox">
				<label class="encryptedtitle">{{smsmms_encryptetitle_lang}}</label>
				<label style="color:#959595">{{smsmms_encryptetitle_input_pass_lang}}</label>
				<label style="color:#959595">{{smsmms_encryptitle_checke_pass_lang}}</label>
				<div class="passwdinputbox">
					<label>
					    <input id="passwd" type="password" class="passwd" placeholder="{{smsmms_encrypte_passwd_input_lang}}">
					    <button id="submitpasswd">{{smsmms_encrypte_submitpasswd_lang}}</button>
					</label>
					<label>
						<input id="apply2all" type="checkbox" style="margin-top:2px;cursor:pointer;" />{{smsmms_encrypte_apply2all_lang}}
						<span id="passwderror" class="passwderror">{{smsmms_encrypte_passwderror_lang}}</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div id="collectioncontent" class="content" style="display:none;">
<!-- 		<div id="collectionSmscontent" class="showcontent"></div>-->
		<!--<iframe name="collSms" id="collectionSmscontent" src="http://localhost/vivo/collSms.php"></iframe>-->
	</div>
	<div id="favcontent" class="content" style="display:none;">
		<div class="contentTop"><input id="allFavSms" type="checkbox"><label class="all">{{smsmms_favcontent_allcheck_lang}}<label></div>
		<ul id="favSmscontent" class="showcontent">
		</ul>
		<div class="noSmscontent"><div style="color:#DEDEDE;font-size:14px;font-weight:normal;">{{smsmms_favcontent_noSmscontent_lang}}</div></div>
		<div class="encrypted">
			<div class="encryptedbox">
				<label class="encryptedtitle">{{smsmms_encryptedbox_sorry_lang}}</label>
				<label style="color:#959595">{{smsmms_encryptedbox_input_pwd_lang}}</label>
				<div class="passwdinputbox">
					<label>
					    <input id="favpasswd" type="password" class="passwd" placeholder="{{smsmms_favpasswd_placeholder_pwdinput}}">
					    <button id="favsubmitpasswd">{{smsmms_favsubmitpasswd_sure_lang}}</button>
					</label>
					<label>
						<span id="favpasswderror" class="passwderror">{{smsmms_favpasswderror_lang}}</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div id="simcontent" class="content" style="display:none;">
		<div class="contentTop"><input id="allSimSms" type="checkbox"><label class="all">{{smsmms_selectall_lang}}<label></div>
		<ul id="simSmscontent" class="showcontent">
		</ul>
		<div class="noSmscontent"><div style="color:#DEDEDE;font-size:14px;font-weight:normal;">{{smsmms_sim_nosmscontent_lang}}</div></div>
	</div>
	<div id="searchcontent" class="content" style="display:none;">
		<div class="contentTop"></div>
		<ul id="searchresultcontent" class="showcontent">
		</ul>
		<div class="noSmscontent"><div style="color:#DEDEDE;font-size:14px;font-weight:normal;">{{smsmms_searchcontent_nocontent_lang}}</div></div>
	</div>

	
    <!--  冒泡提示框 -->
    <div id="bubble" class="coverScreen">
      <div class="bubble">
        <div id="bubble_message" class="bubble_middle">
            <!-- 提示内容 -->
            <div class="bubble_text"><div class="refresh" ></div>{{smsmms_bubble_message_refersh_lang}}</div>
        </div>
      </div>
    </div>

    <ul id="threadContextMenu" class="contextmenu no-overflow">
        <li id="MenuAddContact">
            <div class="li">{{smsmms_menu_addcontact_lang}}</div>
        </li>
        <li class="hr"></li>
        <li id="MenuDelete">
            <div class="li">{{smsmms_menu_delete_lang}}</div>
        </li>
        <li class="hr"></li>
        <li id="MenuExport">
			<div class="right"></div>
            <div class="li">{{smsmms_menu_export_lang}}</div>
			<ul class="contextmenu">
				<li class="ExportContextBysms">
					<div class="li">{{smsmms_menu_export_sms_format_lang}}</div>
				</li>
				<li class="hr"></li>
				<li class="ExportContextBycsv">
					<div class="li">{{smsmms_menu_export_csv_format1_lang}}<span style="color:red">{{smsmms_menu_export_csv_format2_lang}}</span>）</div>
				</li>
			</ul>
        </li>
    </ul>

    <ul id="importAndExportContextMenu" class="contextmenu no-overflow">
        <li id="MenuImport">
            <div class="li">{{smsmms_menuimport_content_lang}}</div>
        </li>
        <li class="hr"></li>
        <li id="MenuExportSelected">
			<div class="right"></div>
            <div class="li">{{smsmms_menuimport_slected_lang}}</div>
			<ul class="contextmenu no-overflow">
				<li class="ExportContextBysms">
					<div class="li">{{smsmms_menu_export_sms_format_lang}}</div>
				</li>
				<li class="hr"></li>
				<li class="ExportContextBycsv">
					<div class="li">{{smsmms_menu_export_csv_format1_lang}}<span style="color:red">{{smsmms_menu_export_csv_format2_lang}}</span>）</div>
				</li>
			</ul>
        </li>
        <li class="hr"></li>
        <li id="MenuExportAll">
			<div class="right"></div>
            <div class="li">{{smsmms_menuimport_export_lang}}</div>
			<ul class="contextmenu no-overflow">
				<li class="ExportContextBysms">
					<div class="li">{{smsmms_menu_export_sms_format_lang}}</div>
				</li>
				<li class="hr"></li>
				<li class="ExportContextBycsv">
					<div class="li">{{smsmms_menu_export_csv_format1_lang}}<span style="color:red">{{smsmms_menu_export_csv_format2_lang}}</span>）</div>
				</li>
			</ul>
        </li>
    </ul>
	<ul id="ExportContextSubMenu" class="contextmenu">
        <li class="ExportContextBysms">
            <div class="li">{{smsmms_menu_export_sms_format_lang}}</div>
        </li>
        <li class="hr"></li>
        <li class="ExportContextBycsv">
            <div class="li">{{smsmms_menu_export_csv_format1_lang}}<span style="color:red">{{smsmms_menu_export_csv_format2_lang}}</span>）</div>
        </li>
    </ul>
	<!-- <menu id="ExportContextThreadSubMenu" class="contextmenu">
        <li id="ExportContextThreadBysms">
            <div class="li">sms格式</div>
        </li>
        <li class="hr"></li>
        <li id="ExportContextThreadBycsv">
            <div class="li">csv格式</div>
        </li>
    </menu> -->

    <menu id="ThreadSortMenu" class="contextmenu">
        <li value="1">
            <div class="li">{{smsmms_threadsort_bytime_lang}}</div>
        </li>
        <li class="hr"></li>
        <li value="0">
            <div class="li">{{smsmms_threadsort_byname_lang}}</div>
        </li>
        <li class="hr"></li>
        <li value="3">
            <div class="li">{{smsmms_threadsort_byunread_lang}}</div>
        </li>
        <li class="hr"></li>
        <li value="4">
            <div class="li">{{smsmms_threadsort_byfail_lang}}</div>
        </li>
        <li class="hr"></li>
        <li value="2">
            <div class="li">{{smsmms_threadsort_bytotal_lang}}</div>
        </li>
    </menu>

	<label id="tips" class="tips">{{smsmms_started_success_lang}}</label>

	<div id="unConected" class="unConected" style="display:none">
		<div class="inner-center">
			<h2>{{smsmms_unconected_link_lang}}</h2>
			<div style="width:400px;">{{smsmms_unconected_linktip_lang}}
			</div>
			<button class="conectedBtn"onclick="cef.connected2phone(this)">{{smsmms_unconected_linkbtn_lang}}</button>
		</div>
	</div>	
	
	<div id="messPrompt" class="messPrompt">
	    <div class="messPromptClick" onclick="hideMessPrompt(this)"></div>
	</div>
	<div id="opTips"></div>
	<script id="threadslist" type="text/html">
		<% for (var i = 0; i < list.length; i ++) { %>
			<li id="<%= list[i]["_id"]%>">
				<input type="checkbox">
				<div class="wrap">
				    <% var phone = list[i]["addr"]; if (phone.length == 0) {phone = "{{smsmms_draft_lang}}";}%>
					<label class="addr" title="<%= phone %>">
						<%= phone %>
					</label>
					<label class="count" smsCount=<%= list[i]["smsCount"] %>>(<%= list[i]["count"] %>)</label>
				</div>

				<%if(list[i]["read"] === false) {%>
				 	<span class="DrawerIconNotRead"></span>
				<%} %>
				<%if(list[i]["encryted"] === true) {%>
				 	<span class="DrawerIconEncryted"></span>
				<%} %>
				<%if(list[i]["has_attachment"] === true) {%>
				 	<span class="DrawerIconAttachment"></span>
				<%} %>
			</li>
		<% } %>
	</script>
	
	<script id="MmsSms" type="text/html">
		<% var startDay = startDay ||  list[0]["date"]%>
		<li class="daysplit"><%= startDay.toSplitString()%></li>
		<% for (var i = 0; i < list.length; i ++) { %>
			<% if (startDay.isSameDay(list[i]["date"]) == false) { %>
				<% startDay = list[i]["date"]%>
				<li class="daysplit"><%= list[i]["date"].toSplitString()%></li>
			<% } %>
			<li id="<%= list[i]["_id"] %>" >
				<div class="speech" cssType="<%= list[i]["cssType"]%>">
					<input type="checkbox" />
					<div class="time" ><%= list[i]["date"].toMyString()%></div>
					<%if(list[i]["mms"] == 1) {%>
						<div class="body"><%=#list[i]["body"]%></div>
					<%} else {%>
						<div class="body"><%=#list[i]["body"].escape()%></div>
					<% } %>
					<div class="status" data-status="<%= list[i]["type"]%>"><%= list[i]["status"]%></div>
					<div class="slot" data-slot="<%= list[i]["slot"]%>"></div>
					<%if(list[i]["mms"] == 1) {%>
						<span class="saveattachment">{{smsmms_save_attach_lang}}</span>
					<%} else {%>
						<% if(bSupportFav == true) {%>
							<% if (list[i]["type"] != 3) { %>
								<span class="copy">{{smsmms_store_lang}}</span>
							<% } %>
						<% } %>
						<span class="forward">{{smsmms_sendpost_lang}}</span>
					<%}%>
					<span class="del">{{smsmms_delete_script_lang}}</span>
				</div>
			</li>
		<% } %>
	</script>

	<script id="OneSms" type="text/html">
		<li id="<%= sms["_id"] %>" >
			<div class="speech" cssType="<%= sms["cssType"]%>">
				<input type="checkbox" />
				<div class="time" ><%= sms["date"].toMyString()%></div>
				<div class="body"><%=#sms["body"].escape()%></div>
				<div class="status" data-status="<%= sms["type"]%>"><%= sms["status"]%></div>
				<div class="slot" data-slot="<%= sms["slot"]%>"></div>
				<% if(sms["bSupportFav"] == true) {%>
					<% if (sms["type"] != 3) { %>
						<span class="copy">lang}}</span>
					<% } %>
				<% } %>
				<span class="forward">{{smsmms_onesms_sendpost_lang}}</span>
				<span class="del">{{smsmms_onesms_delete_lang}}</span>
			</div>
		</li>
	</script>


	<script id="MmsSmsSearchResult" type="text/html">
		<li id="<%= sms["_id"] %>" >
			<div class="speech" cssType="<%= sms["cssType"]%>">
				<input type="checkbox" />
				<div class="sendto"><%=# sms["contact"].escape().replace(regexp, replaceText)%>
				<% if(sms["contact"] !=  sms["address"]) {%>
				<<%=# sms["address"].escape().replace(regexp, replaceText)%>>
				<% } %>
				</div>
				<% if(sms["kind"] == SmsKind.SIM && sms["type"] == 2) {%>
					<div class="time" ></div>
				<% } else { %>
					<div class="time" ><%= sms["date"].toMyString()%></div>
				<% } %>
				<div class="body"><%=#sms["body"].escape().replace(regexp, replaceText)%></div>
				<div class="status" data-status="<%= sms["type"]%>"><%= sms["status"]%></div>
				<div class="slot" data-slot="<%= sms["slot"]%>"></div>
				<div class="kind" data-kind="<%= sms["kind"]%>"></div>
				<% if(sms["kind"] == SmsKind.MMS) {%>
					<span class="saveattachment">{{smsmms_search_result_save_append_lang}}</span>
				<% } else if(sms["kind"] == SmsKind.SMS) {%>
					<% if(sms["bSupportFav"] == true) {%>
						<%if(sms["type"]!=MessageType.MESSAGE_TYPE_DRAFT){%>
							<span class="copy">{{smsmms_search_result_started_lang}}</span>
						<%}%>
					<% } %>
					<span class="forward">{{smsmms_serach_result_sendpost_lang}}</span>
				<% } else if(sms["kind"] == SmsKind.FAV) {%>
					<span class="forward">{{smsmms_serach_result_sendpost1_lang}}</span>
				<% } else if(sms["kind"] == SmsKind.SIM) {%>
					<span class="forward">{{smsmms_serach_result_sendpost2_lang}}</span>
				<% } %>
				<span class="del">{{smsmms_serach_result_delete_lang}}</span>
			</div>
		</li>
	</script>
	<script id="SimSms" type="text/html">

		<% for (var i = 0; i < list.length; i ++) { %>
			<li id="<%= list[i]["_id"] %>" >
				<div class="speech" cssType="<%= list[i]["cssType"]%>">
					<input type="checkbox" />
					<div class="sendto"><%= list[i]["contact"]%></div>
					<% if (list[i]["type"] === 1) { %>
						<div class="time" ><%= list[i]["date"].toMyString()%></div>
					<% } %>
					<div class="body"><%=#list[i]["body"].escape()%></div>
					<div class="status" data-status="<%= list[i]["type"]%>"><%= list[i]["status"]%></div>
					<div class="slot" data-slot="<%= list[i]["slot"]%>"></div>
					<span class="forward">{{smsmms_simsms_postsend_lang}}</span>
					<span class="del">{{smsmms_simsms_postsend_delete_lang}}</span>
				</div>
			</li>
		<% } %>
	</script>
	
	<script id="FavSms" type="text/html">
		<% var startDay = startDay ||  list[0]["date"]%>
		<li class="daysplit"><%= startDay.toSplitString()%></li>
		<% for (var i = 0; i < list.length; i ++) { %>
			<% if (startDay.isSameDay(list[i]["date"]) == false) { %>
				<% startDay = list[i]["date"]%>
				<li class="daysplit"><%= list[i]["date"].toSplitString()%></li>
			<% } %>
			<li id="<%= list[i]["_id"] %>" >
				<div class="speech" cssType="<%= list[i]["cssType"]%>">
					<input type="checkbox" />
					<div class="sendto"><%= list[i]["contact"]%></div>
					<div class="time" ><%= list[i]["date"].toMyString()%></div>
					<div class="body"><%=#list[i]["body"].escape()%></div>
					<div class="status" data-status="<%= list[i]["type"]%>"><%= list[i]["status"]%></div>
					<span class="forward">{{smsmms_favsms_sendpost_lang}}</span>
					<span class="del">{{smsmms_favsms_delete_lang}}</span>
				</div>
			</li>
		<% } %>
	</script>
	<script id="threadInfo" type="text/html">
		<%if(multi) {%>
			<span >[群发]<%= contact %></span>
		<% } else {%>
			<%if(stranger) {%>
				<span class="addToContacts">{{smsmms_threadinfo_addcontact_lang}}</span>
			<% } else {%>
				<span ><%= contact %></span>
			<% } %>
				<span class="phoneNumber"><%= address %></span>
				<span ><%= attribution %></span>
		<% } %>
	</script>

	<script id="MmsPreView" type="text/html">
		<div class="PreviewBg">
			<div id="ShowFrame" class="PreViewZone">
				<% for (var i = 0; i < firstframes.length; i ++) { %>
					<%if(firstframes[i]["text"] !== undefined ) {%>
						<div><%= firstframes[i]["text"].escape()%></div>
					<%} else if(firstframes[i]["image"] !== undefined) {%>
						<img onload="resizeMMSImage(this)" src="<%= firstframes[i]["image"]%>" />
					<%} else if(firstframes[i]["audio"] !== undefined) {%>
						<audio src="<%= firstframes[i]["audio"]%>" controls="controls" autoplay></audio>
					<%} else if(firstframes[i]["video"] !== undefined) {%>
						<video src="<%= firstframes[i]["video"]%>" controls="controls" autoplay></video>
					<%}%>
				<%}%>
	        </div> 
	          
	        <div class="ProcessCtl">
	        	<label id="DynamicTime" >00:00</label>
	        	<input id="SlideBar"  type="range" max="<%= max %>" value="0" disabled>           
	            <label id="TotalTimeOfSlide" ><%= time %></label>
	        </div>  
	        <div class="PlayCtl">
	            <button id="Pre" onclick="Pre(this)"></button>
	            <button id="StopAndPlay" onclick="StopPlay(this)"></button>
	            <button id="Aft" onclick="Aft(this)"></button>
	        </div>
	    </div>
	</script>

	<script id="MmsFrame" type="text/html">
		<% for (var i = 0; i < list.length; i ++) { %>
			<%if(list[i]["text"] !== undefined ) {%>
				<div><%= list[i]["text"].escape()%></div>
			<%} else if(list[i]["image"] !== undefined) {%>
				<img onload="resizeMMSImage(this)" src="<%= list[i]["image"]%>" />
			<%} else if(list[i]["audio"] !== undefined) {%>
				<audio src="<%= list[i]["audio"]%>" controls="controls" autoplay></audio>
			<%} else if(list[i]["vedio"] !== undefined) {%>
			<%}%>
		<%}%>
	</script>


	<script id="processScript" type="text/html">
		<div class="processbg">
			<div id="process"/></div>
		</div>
		<div class="processTxt"><label id="nDone">0</label>/<label id="nCnt">0</label></div>
	</script>


	<script type="text/javascript">
	var langs = [];
	langs["share_reflashing_str"] = '{{share_reflashing_str}}';
	langs["smsmms_js_copysuccess_str"] = '{{smsmms_js_copysuccess_str}}';
	langs["smsmms_js_copyfail_str"] = '{{smsmms_js_copyfail_str}}';
	langs["smsmms_js_invalid_mms_str"] = '{{smsmms_js_invalid_mms_str}}';
	langs["smsmms_js_subject_str"] = '{{smsmms_js_subject_str}}';
	langs["smsmms_js_btn_send_str"] = '{{smsmms_js_btn_send_str}}';
	langs["smsmms_js_get_fav_str"] = '{{smsmms_js_get_fav_str}}';
	langs["smsmms_js_get_sim_str"] = '{{smsmms_js_get_sim_str}}';
	langs["smsmms_js_get_sms_str"] = '{{smsmms_js_get_sms_str}}';
	langs["smsmms_js_sms_copied_str"] = '{{smsmms_js_sms_copied_str}}';
	langs["smsmms_js_add_contact_str"] = '{{smsmms_js_add_contact_str}}';
	langs["smsmms_js_import_str"] = '{{smsmms_js_import_str}}';
	langs["smsmms_js_importdlg_cancel_lang"] = '{{smsmms_js_importdlg_cancel_lang}}';
	langs["smsmms_js_export_tips_lang"] = '{{smsmms_js_export_tips_lang}}';
	langs["smsmms_threadsort_bytime_lang"] = '{{smsmms_threadsort_bytime_lang}}';
	langs["smsmms_js_export_str"] = '{{smsmms_js_export_str}}';
	langs["smsmms_js_delete_thread_str"] = '{{smsmms_js_delete_thread_str}}';
	langs["smsmms_js_delete_thread_content1_str"] = '{{smsmms_js_delete_thread_content1_str}}';
	langs["smsmms_js_delete_thread_content2_str"] = '{{smsmms_js_delete_thread_content2_str}}';
	langs["smsmms_js_delete_sms_str"] = '{{smsmms_js_delete_sms_str}}';
	langs["smsmms_js_delete_sms_content1_str"] = '{{smsmms_js_delete_sms_content1_str}}';
	langs["smsmms_js_delete_sms_content2_str"] = '{{smsmms_js_delete_sms_content2_str}}';
	langs["smsmms_js_add2fav_success_str"] = '{{smsmms_js_add2fav_success_str}}';
	langs["smsmms_js_already_exsit_str"] = '{{smsmms_js_already_exsit_str}}';
	langs["smsmms_js_sms_missing_str"] = '{{smsmms_js_sms_missing_str}}';
	langs["smsmms_js_add2fav_failed_str"] = '{{smsmms_js_add2fav_failed_str}}';
	langs["smsmms_js_attach_info_saveto_str"] = '{{smsmms_js_attach_info_saveto_str}}';
	langs["smsmms_js_attach_info_save_failed_str"] = '{{smsmms_js_attach_info_save_failed_str}}';
	langs["smsmms_js_body_invalid_str"] = '{{smsmms_js_body_invalid_str}}';
	langs["smsmms_js_send_failed_str"] = '{{smsmms_js_send_failed_str}}';
	langs["smsmms_js_find_str"] = '{{smsmms_js_find_str}}';
	langs["smsmms_js_results_str"] = '{{smsmms_js_results_str}}';
	langs["smsmms_js_btn_more_str"] = '{{smsmms_js_btn_more_str}}';
	langs["smsmms_js_tips_no_sms_export_str"] = '{{smsmms_js_tips_no_sms_export_str}}';
	langs["smsmms_js_tips_over_str"] = '{{smsmms_js_tips_over_str}}';
	langs["smsmms_js_tips_export_failed_str"] = '{{smsmms_js_tips_export_failed_str}}';
	langs["smsmms_js_tips_no_sms_import_str"] = '{{smsmms_js_tips_no_sms_import_str}}';
	langs["smsmms_js_tips_import_failed_str"] = '{{smsmms_js_tips_import_failed_str}}';
	langs["smsmms_js_checkfile_error_str"] = '{{smsmms_js_checkfile_error_str}}';
	langs["smsmms_js_delete_sms_okbtntext_lang"]='{{smsmms_js_delete_sms_okbtntext_lang}}';
	langs["smsmms_js_delete_sms_cancelbtntext_lang"]='{{smsmms_js_delete_sms_cancelbtntext_lang}}';
	</script>

	

	<script src="../js/artDialog.min.js"></script>
	<script src="../js/template.js"></script>
	<script src="../js/jquery-2.0.3.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="smsmms.js"></script>
	
</body>
</html>