<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../css/webkitBase.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/scrollstyle.css" type="text/css" />
    <link rel="stylesheet" href="note.css" type="text/css" />
        
    <script src="../../../js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="../../../js/webkitBase.js" type="text/javascript"></script>
    <script src="../../../js/template.js" type="text/javascript"></script>
    <script src="note.js" type="text/javascript"></script>

    <!-- 便签列表模板 -->
    <script id="noteListTemplate" type="text/html">
        <% for(var i=0 ; i<_dataList.length ; ++i) {%>
            <% var color = _dataList[i]["color"] %>
            <% var id = _dataList[i]["id"] %>
            <% var nid = _dataList[i]["nid"] %>
            <% var alarmtime = _dataList[i]["alarm_time"] %>
            <% var state = _dataList[i]["state"]%>
            <% var has_passwd = _dataList[i]["has_password"]%>
            <% var has_photo = _dataList[i]["has_photo"] %>
            <% var has_contact = _dataList[i]["has_contact"]%>
            <% var has_alarm = _dataList[i]["has_alarm"]%>
            <% var curtimemillis = _dataList[i]["update_date"]%>
            <li id=<%=id%> class="item" nid=<%=nid%> color=<%=color%> alarmtime=<%=alarmtime%> state=<%=state%> has_passwd=<%=has_passwd%> has_photo=<%=has_photo%> has_contact=<%=has_contact%> has_alarm=<%=has_alarm%> curtimemillis=<%=curtimemillis%>>
                <div class="sn"></div>
                <%var content =_dataList[i]["content"]%>
                <%var showContent = content.replace(/__END_OF_CONTENT__/g,"")%>
                <% showContent = showContent.replace(/_TAG_OF_NORMAL_/g,"")%>
                <% showContent = showContent.replace(/__END_OF_PART__/g,"")%>
                <% showContent = showContent.replace(/ /g,"&nbsp")%>
                <div class="note_content"><%=#showContent%></div>
                <div class="datetime" value=<%=_dataList[i]["create_date"]%>><%=_dataList[i]["create_date"]%></div>
                <div class="picture">
					<% if(has_photo && _dataList[i]["photos"] != null) { %>
						<% for(var j=0 ; j<_dataList[i]["photos"].length ; ++j) { %>
							<% var name=_dataList[i]["photos"][j]["photo_name"] %>
							<% var path=_dataList[i]["photos"][j]["photo_path"] %>
							<div class="picture_item" name=<%=#"'"+name+"'"%> path=<%=#"'"+path+"'"%>></div>
						<% } %>
					<% } %>
                </div>
				<div class="note_content_value" style="display:none"><%=content%></div>
            </li>
        <%}%>
    </script>

    <!--  便签详细内容模板 -->
    <script id="noteItemTemplate" type="text/html">
        <% for(var i=0 ; i<_dataList.length ; ++i) {%>
            <img width="250px" src=<%=_dataList[i]["path"]%>><%=_dataList[i]["name"]%></img>
        <%}%>
    </script>
</head>
<body id="container" onselectstart="return false">
    <!-- 顶部菜单栏 onclick="mclick(this)"-->
    <div class="menuBar">
        <div id="import2Phone" class="menu-nav disable"><div class="import2PhoneIcon"></div>导入到手机</div>
        <div class="menu-nav-split"></div>
        <!--<div onclick="delete()" class="menu-nav"><div class="downloadIcon"></div>删除</div>
        <div class="menu-nav-split"></div>-->
        <div id="refresh" class="menu-nav disable"><div class="refreshIcon"></div>刷新</div>
        <div class="menu-nav-split"></div>
        <div id="warning" class="menu-nav"><div class="warningIcon"></div>导入手机之前请先<span style="color:#ff0000">刷新</span>数据</div>
    </div>
    <div id="note" class="noteContainer">
        <div id="loadding">正在加载云便签，请稍候！</div>
        <div id="fail">网络忙，便签获取失败！</div>
        <div class="w-page">
            <div id="note_title">
                <div id="allSelect" class="sn"></div>
                <div class="title_note_content">便签内容</div>
                <div class="title_datetime">创建时间</div>
            </div>
            <ul id="note_list">
            <!--
                <li id="1" class="item">
                    <div class="sn"></div>
                    <div class="note_content">你是猪</div>
                    <div class="datetime">20142345</div>
                    <div class="picture">
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                    </div>
                </li>
                <li id="2" class="item">
                    <div class="sn"></div>
                    <div class="note_content">我不是，你才是呢</div>
                    <div class="datetime">20142345</div>
                    <div class="picture">
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                    </div>
                </li>
                 <li id="3" class="item">
                    <div class="sn"></div>
                    <div class="note_content">我们都不是，他才是，哈哈哈</div>
                    <div class="datetime">20142345</div>
                    <div class="picture">
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                    </div>
                </li>
                <li id="4" class="item">
                    <div class="sn"></div>
                    <div class="note_content">鞭跃厚筐冠耀销泻钙搜摧云禹牵膀遭斡堂玉箭涅啃窍酋话哨津爹饺肢恨聪琐喷伦渡粕系科他棠要研链绑胎间蹄需霉姜蹬蜒可廖胜芦剪唤懂椿斋轩讽腮硒饰酋深扁旺睫浑蚁既哲蜗笼剁赴稠硫夹浓溉合后卫票腰拎泥潍苟袖抬玉呀酥</div>
                    <div class="datetime">20142345</div>
                    <div class="picture">
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                        <div class="picture_item" name="IMG_20140924_102114353_camara_thumb.jpg" path="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg"></div>
                    </div>
                </li>
            -->
            </ul>
        </div>
        <div id="note_detail">
        <!--
            <img width="270px" src="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg">IMG_20140924_102114353_camara_thumb.jpg</img>
            <img width="270px" src="http://192.168.2.182:5588/notepic/2014/09/24/IMG_20140924_102114353_camara_thumb.jpg">IMG_20140924_102114353_camara_thumb.jpg</img>
        -->
        </div>
    </div>
</body>
</html>