<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../css/webkitBase.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/scrollstyle.css" type="text/css" />
    <link rel="stylesheet" href="blacklist.css" type="text/css" />
        
    <script src="../../../js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="../../../js/webkitBase.js" type="text/javascript"></script>
    <script src="../../../js/template.js" type="text/javascript"></script>
    <script src="blacklist.js" type="text/javascript"></script>

    <!-- 黑名单填充模板 -->
    <script id="blackListTemplate" type="text/html">
		<% for(var i=0 ; i<_dataList.length ; ++i){%>
			<% if(typeof _dataList[i]["datetime"] == "undefined" || _dataList[i]["datetime"]==null ||_dataList[i]["datetime"]=="") {%>
				<%_dataList[i]["datetime"] = "-1"%>
			<%}%>
			<li id=<%=_dataList[i]["id"]%> class="item" datetime=<%=_dataList[i]["datetime"]%>>
				<div class="sn"></div>
                <% var name = _dataList[i]["black_name"]%>
                <% var showName = name.replace(/ /g,"&nbsp")%>
                <% var number = _dataList[i]["black_number"]%>
                <% showNumber = number.replace(/ /g,"&nbsp")%>
				<div class="name" title=<%=#"'"+name+"'"%>><%=showName%></div>
				<div class="number" title=<%=#"'"+number+"'"%>><%=showNumber%></div>
				<% if(typeof _dataList[i]["black_type"] !="undefined" ) {%>
					<% var t = _dataList[i]["black_type"]%>
					<div class="type" value=<%=t%>><%=_type[t]%></div>
				<%}else{%>
					<div class="type" value=3>拦截短信息和电话</div>
				<%}%>
				<% if(typeof _dataList[i]["reject_type"] !="undefined" ) {%>
					<% var t = _dataList[i]["reject_type"]%>
					<div class="rejectType" value=<%=t%>><%=_reject_type[t]%></div>
				<%}else{%>
					<div class="rejectType" value=1>黑名单</div>
				<%}%>
			</li>
		<%}%>
	</script>
</head>
<body id="container" onselectstart="return false">
    <!-- 顶部菜单栏 -->
    <div class="menuBar">
        <div id="import2Phone" class="menu-nav disable"><div class="import2PhoneIcon"></div>导入到手机</div>
        <div class="menu-nav-split"></div>
        <div id="refresh" class="menu-nav disable"><div class="refreshIcon"></div>刷新</div>
    </div>
    <!-- 黑名单标题 -->
    <div class="title">
      <div id="allSelect" class="sn"></div>
      <div class="titleName">名称</div>
      <div class="titleNumber">号码</div>
      <div class="titleType">拦截类容</div>
      <div class="titleRejectType">拦截原因</div>
    </div>
    <!-- 联系人列表 -->
    <ul id="blacklistTable">
    <!--	<li id="1" class="item">
    		<div class="sn"></div>
    		<div class="name" title="hello">hello</div>
    		<div class="number" title="15200864012">15200864012</div>
    		<div class="type" title="1">短信息拦截</div>
    		<div class="rejectType" title="1">黑名单</div>
    	</li>		 -->
    </ul>
    <div id="loadding">正在加载黑名单，请稍候！</div>
	<div id="fail">网络忙，黑名单获取失败！</div>
</body>
</html>